# Firebase Admin SDK
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email@project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Cloudinary
CLOUDINARY_CLOUD_NAME=dwp7aevl5
CLOUDINARY_API_KEY=185278293928536
CLOUDINARY_API_SECRET=W4eZh4gG6tA-rEGp26Ha3cT6ajQ

# Gmail (Nodemailer)
# Use the Gmail account that will SEND the emails (can be any Gmail)
GMAIL_USER=pavlina.dochevaas@gmail.com
# Generate an App Password at: https://myaccount.google.com/apppasswords
# (requires 2-Step Verification to be ON)
GMAIL_APP_PASSWORD=aoog aqig rtii wwos
